<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.dy.mapper.UserMapper">


    <insert id="insert">
        INSERT INTO user (user_id, city_code) VALUES (#{userId},#{cityCode})
    </insert>


    <insert id="insertBatch">
        INSERT INTO user (user_id, city_code)VALUES
        <foreach collection="userList" separator="," item="item">
            (#{item.userId},#{item.cityCode})
        </foreach>
    </insert>
    <select id="getList" resultType="it.dy.entity.User">
        select *FROM user
    </select>
</mapper>
